.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  /* font-weight: bold; */
  background-color: rgb(30, 106, 165);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.todos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.todos__card {
  color: black;
  display: flex;
  width: 30%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: bisque;
  align-items: center;
}

.todos__card--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__card--text:focus {
  outline: none;
}

.todos__card--test:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos__card {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todos__card {
    width: 100%;
  }
}
